{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="buzz_wrapper">
            <div class="text">
                <span><div id="msg"/></span>
            </div>
            <div class="scanline"></div>
        </div>
        <div class="backgrounds overlay">
            <div class="background" data-aos="fade-in" data-aos-duration="1500" data-aos-anchor=".section--hero" style="background-image: url('/static/images/cover-section.jpg');"></div>
        </div>
        <header class="hero">
            <div class="hero-center">
                <h1 class="hero__logo" data-aos="zoom-in">The Cube</h1>
                <h2 class="hero__text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">Duke's Entrepreneurship SLG</h2>
            </div>
            <!--
            <span class="hero__scroll" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
                Scroll down <br>
                <i class="chevron bottom"></i>
            </span>-->
            <a href="/" target="_blank" class="octocat" data-aos="zoom-out" data-aos-delay="1500">
                <img src="static/images/logo_mask.png" alt="">
            </a>
        </header>
        <section class="section section--code">
            <div class="container">
                <h2 class="section-title">About</h2>
                <div class="code code--small code--left" data-aos="flip-left">
                    <div class="content">
                        <br> The Cube is Duke’s student-run, entrepreneurial residential community located at 205 Oregon Street. We yearn to make a difference, are driven to execute upon and deliver great ideas and are dedicated to learning and growing.
                        <br>
                    </div>
                </div>
                <div class="code code--small code--right" data-aos="fade-left">
                    <div class="content">
                        <div class="text">
                            <h3 class="resourcetitle"><i class="fa fa-users fa-2x" aria-hidden="true"></i><br>Entrepreneur Community</h3> We are a community of economists, business developers, engineers, computer scientists, and more. We support each other whether that be through technical help for a new startup idea or simply advice on how to approach implementation.
                        </div>
                    </div>
                </div>
                <div class="code code--small code--left" data-aos="fade-up-right">
                    <div class="content">
                        <div class="text">
                            <h3 class="resourcetitle"><i class="fa fa-cog fa-2x" aria-hidden="true"></i><br>Resources</h3>Duke holds a startup challenges and has the Melissa & Dough Entrepreneurship program, both of which a number of Cube members have participated.</div>
                    </div>
                    <br>
                </div>
                <div class="code code--small code--right" data-aos="fade-up-left">
                    <div class="content">
                        <div class="text">
                            <h3 class="resourcetitle"><i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i><br>Mentorship</h3> The Cube has an extensive <a href="/alum">alumni</a> network that have advised undergraduate Cube members in building their own companies.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--code">
            <div class="container">
                <h2 class="section-title">Alumni</h2>
                <div class="code code--left" data-aos="flip-left">
                    <div class='card'>
                        <h1>Tatiana Birgisson</h1>
                        <img style="width: 30%;" src='/static/images/tatiana.jpg'>
                        <p class='bio'>
                            Tatiana founded <a href="https://www.matienergy.com/">MATI Energy</a>, a healthy energy drink company. She has been featured in CNN, Forbes, ABS news and USA today. She is on Inc 30 under 30 list of 2016 and Forbes 30 under 30 Food & Drink list of 2017.
                        </p>
                    </div>
                </div>
                <div class="code code--small code--right" data-aos="flip-right">
                    <div class='card'>
                        <h1>Josh Miller</h1>
                        <img style="width: 30%;" src='/static/images/joshmiller.jpg'>
                        <p class='bio'>
                            Josh Miller founded <a href="http://farmshots.com/">Farmshots</a>, a company that analyzes satellite imagery of farms to provide aitomated pest and disease detection for farmers.
                        </p>
                    </div>
                </div>
                <div class="code code--small code--left" data-aos="flip-up">
                    <div class='card'>
                        <h1>Kasper Kubica, David Spratte</h1>
                        <img style="width: 30%;" src='/static/images/carpe.jpg'>
                        <p class='bio'>
                            Kasber Kubica and David Spratte founded <a href="https://www.carpelotion.com">Carpe Lotion</a>, a company that creates antiperspirant hand lotion.
                        </p>
                    </div>
                </div>
                <div class="code code--small code--right" data-aos="flip-down">
                    <div class='card'>
                        <h1>Arun Karottu</h1>
                        <img style="width: 30%;" src='/static/images/arun.jpg'>
                        <p class='bio'>
                            Arun Karottu cofounded <a href="http://www.smartmetalsrecycling.com">Smart Metals Recycling</a>, a company that uses technology to streamline e-waste recycling and mine customer data for insights.
                        </p>
                    </div>
                </div>
                <div class="code code--left" data-aos="flip-left">
                    <div class='card'>
                        <h1>Sid Kandan</h1>
                        <img style="width: 30%;" src='/static/images/sid.png'>
                        <p class='bio'>
                            Sid Kandan founded <a href="http://www.stel.life/">Stel</a>, a company that produces IoT devices that automate manual data collection processes to help hospitals provide quality care.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--code">
            <div class="container">
                <h2 class="section-title">Zoom</h2>
                <div class="code code--small code--left" data-aos="zoom-in">
                    <pre><code>&lt;div data-aos="zoom-in">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--right" data-aos="zoom-in-up">
                    <pre><code>&lt;div data-aos="zoom-in-up">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--left" data-aos="zoom-in-down">
                    <pre><code>&lt;div data-aos="zoom-in-down">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--right" data-aos="zoom-in-left">
                    <pre><code>&lt;div data-aos="zoom-in-left">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--left" data-aos="zoom-in-right">
                    <pre><code>&lt;div data-aos="zoom-in-right">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--right" data-aos="zoom-out">
                    <pre><code>&lt;div data-aos="zoom-out">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--left" data-aos="zoom-out-up">
                    <pre><code>&lt;div data-aos="zoom-out-up">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--right" data-aos="zoom-out-down">
                    <pre><code>&lt;div data-aos="zoom-out-down">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--left" data-aos="zoom-out-right">
                    <pre><code>&lt;div data-aos="zoom-out-right">&lt;/div></code></pre>
                </div>
                <div class="code code--small code--right" data-aos="zoom-out-left">
                    <pre><code>&lt;div data-aos="zoom-out-left">&lt;/div></code></pre>
                </div>
            </div>
        </section>
        <section class="section section--code">
            <div class="container">
                <h2 class="section-title">Different settings examples</h2>
                <div class="code code--left" data-aos="fade-up" data-aos-duration="3000">
                    <pre><code>&lt;div data-aos="fade-up"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-duration="3000">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--right" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <pre><code>&lt;div data-aos="fade-down"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-easing="linear"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-duration="1500">&#13;&lt;/div></code></pre>
                </div>
                <div id="example-anchor" class="code code--left" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                    <pre><code>&lt;div data-aos="fade-right"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-offset="300"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-easing="ease-in-sine">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--right" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500">
                    <pre><code>&lt;div data-aos="fade-left"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-anchor="#example-anchor"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-offset="500"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-duration="500">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--left" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                    <pre><code>&lt;div data-aos="fade-zoom-in"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-easing="ease-in-back"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-delay="300"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-offset="0">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--right" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <pre><code>&lt;div data-aos="flip-left"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-easing="ease-out-cubic"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-duration="2000">&#13;&lt;/div></code></pre>
                </div>
            </div>
        </section>
        <section class="section section--code">
            <div class="container">
                <h2 class="section-title">Anchor placement</h2>
                <div class="code code--wider code--left" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <pre><code>&lt;div data-aos="fade-up"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-anchor-placement="top-bottom">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--wider code--right" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                    <pre><code>&lt;div data-aos="fade-up"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-anchor-placement="center-bottom">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--wider code--left" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <pre><code>&lt;div data-aos="fade-up"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-anchor-placement="bottom-bottom">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--wider code--right" data-aos="fade-up" data-aos-anchor-placement="top-center">
                    <pre><code>&lt;div data-aos="fade-up"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-anchor-placement="top-center">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--wider code--left" data-aos="fade-up" data-aos-anchor-placement="center-center">
                    <pre><code>&lt;div data-aos="fade-up"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-anchor-placement="center-center">&#13;&lt;/div></code></pre>
                </div>
                <div class="code code--wider code--right" data-aos="fade-up" data-aos-anchor-placement="bottom-center">
                    <pre><code>&lt;div data-aos="fade-up"&#13;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;data-aos-anchor-placement="bottom-center">&#13;&lt;/div></code></pre>
                </div>
            </div>
        </section>
        <section class="section section--more">
            <div class="container">
                <div class="section-group">
                    <h3>Contact</h3>
                </div>
            </div>
        </section>
        <!--
  
            <div class="aos-item" data-aos="fade-up">
                <div class="aos-item__inner">
                    <h3 class="resourcetitle"><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i><br>Mentorship</h3>
                    The Cube has an extensive <a href="/alum">alumni</a> network that have advised undergraduate Cube members in building their own companies.
                </div>
            </div>

            <div class="aos-item" data-aos="fade-down">
                <div class="aos-item__inner">
                    <h3 class="resourcetitle"><i class="fa fa-cog fa-3x" aria-hidden="true"></i><br>Resources</h3>
                    Duke holds a startup challenges and has the Melissa & Dough Entrepreneurship program, both of which a number of Cube members have participated in.
                </div>
            </div>
        </div>

        <div class="aos-item" data-aos="zoom-out-down">
            <div class="aos-item__inner">
                <h3 class="resourcetitle"><i class="fa fa-users fa-3x" aria-hidden="true"></i><br>Entrepreneur Community</h3>
                We are a community of economists, business developers, engineers, computer scientists, and more. We support each other whether that be through technical help for a new startup idea or simply advice on how to approach implementation.
            </div>
        </div>-->
    </div>
</div>
{% endblock %} {% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cube.js') }}"></script>
{% endblock %}
